
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
    text-decoration: none;
    color: initial;
}

img {
  max-width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

html {
  overflow-y: scroll; 
}