// Declare Theme Variables
$--theme-background: --theme-background;
$--theme-foreground: --theme-foreground;
$--theme-font-color: --theme-font-color;
$--theme-placeholder-opacity: --theme-placeholder-opacity;

// Default theme
$theme-map-light: (
    $--theme-background: hsl(0, 0%, 98%),
    $--theme-foreground: white,
    $--theme-font-color: hsl(200, 15%, 8%),
    $--theme-placeholder-opacity: 0.3
);

// Override the default light theme
$theme-map-dark: (
    $--theme-background: hsl(207, 26%, 17%),
    $--theme-foreground: hsl(209, 23%, 22%),
    $--theme-font-color: white,
    $--theme-placeholder-opacity: 1,
);

// Retro theme
$theme-map-retro: (
    $--theme-background: #B270A2,
    $--theme-foreground: #7A4495,
    $--theme-font-color: white,
    $--theme-placeholder-opacity: 0.3,
);
    
$dark-gray-l: hsl(0, 0%, 52%);
$white: hsl(0, 0%, 100%);

// Typography
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xlg: 24px;

$font-family: 'Nunito Sans', sans-serif;

$fw-300: 300;
$fw-600: 600;
$fw-800: 800;

// Breakpoints
$mobile: 375px;
$desktop: 1440px;

// Border Radius
$border-radius: 0.375rem;
$border-radius-sm: 0.325rem;

// Card
$card-x: 260px;
$card-image-y: 160px;
$card-description-y: 190px;



